@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;

body{@apply font-qksans;}
/* container */
.container{@apply max-w-screen-xl mx-auto;}
/* ANim */
.anim {@apply transition-all duration-300;}
/* titel_tags */
/* 48px  */
h2{@apply text-3xl lg:text-4xl xl:text-5xl;}
/* 36px */
h3{@apply text-2xl lg:text-3xl xl:text-4xl;}
/* 28px */
h4{@apply text-22 lg:text-2xl xl:text-28;}
/* header  */
.icon_g .hicon{@apply lg:w-12 lg:h-12 lg:p-2.5 text-center text-primary text-xl md:text-2xl lg:bg-light_white rounded-lg font-bold;}
.searchbar input{@apply h-full md:h-auto w-full bg-transparent text-sm outline-none overflow-hidden text-ellipsis;}
.font-primary{@apply text-sm md:text-base text-black_mirage font-bold;}
.droplink a{@apply text-sm xl:text-base font-bold text-gray_slate hover:text-primary lg:min-w-[160px] whitespace-nowrap;}
.droplist{@apply bg-white z-20 lg:drop-shadow-tow lg:w-max rounded-lg py-4 px-6 absolute top-full translate-y-5 invisible opacity-0 group-hover:visible group-hover:translate-y-2 group-hover:opacity-100 anim;}
.searchbar{@apply w-full absolute inset-0 h-full invisible opacity-0 md:opacity-100 md:visible md:h-auto md:relative md:max-w-sm lg:max-w-md md:ml-8 md:mr-2;}
.searchbar.active{@apply visible opacity-100;}
.navigationholder{@apply w-full bg-light_white lg:my-3 absolute left-0 -translate-x-full lg:translate-x-0 max-w-xs h-[calc(100vh-76px)] overflow-y-auto overflow-y-unset lg:h-auto lg:max-w-full lg:relative anim;}
.navigationholder.active{@apply translate-x-0;}
.profie_details{@apply  drop-shadow-one px-3 sm:px-6 py-2 sm:py-4 rounded-xl bg-white space-y-1 absolute top-full right-4 translate-y-5 invisible opacity-0 z-50 group-hover:visible group-hover:opacity-100 group-hover:translate-y-3 anim;}
@media (min-width: 1024px){
  .overflow-y-unset{
    overflow-y: unset !important;
  }
}
@media (max-width: 1023px){
  .droplist{@apply group-hover:relative;}
}

.card-btn-primary{@apply w-full sm:w-1/2 py-2 rounded-md font-bold border border-primary bg-primary text-light_white sm:mx-2 hover:opacity-70 anim;}
.card-btn-secondary{@apply w-full sm:w-1/2 py-2 rounded-md font-bold border border-primary text-primary hover:opacity-70 anim;}
/* slider */
.dot.active{@apply bg-primary;}

 /* menu list flow */
.h-menu-flow .active{@apply text-secondary;}
.h-menu-flow {@apply text-base sm:text-lg lg:text-xl font-bold flex items-center space-x-2 text-gray_gull ;}
/* Order Lists */
.droplist_two{@apply bg-white z-20 drop-shadow-tow w-max rounded-lg py-4 px-6 absolute top-full translate-y-5 invisible opacity-0 group-hover:visible group-hover:translate-y-2 group-hover:opacity-100 anim;}
.tabnav a{@apply text-sm sm:text-lg lg:text-xl xl:text-2xl font-bold text-gray_gull;}
.tabnav a.active{@apply text-secondary;}
.tabnav a.active + span{@apply w-full;}

/* Testimonials */
.review-card{@apply p-5 lg:p-6 xl:p-8 bg-white rounded-2xl text-center space-y-5 anim;}
.review-card.active{@apply drop-shadow-three;}

/* card */
.quantity_count button{@apply h-7 w-7 leading-7 font-primary text-xl text-primary bg-primary/10 rounded-full transition hover:opacity-75;}
.quantity_count span input::-webkit-outer-spin-button, .quantity_count span input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* FAQ */
.accord_btn {@apply relative flex items-center justify-between w-full text-black_mirage text-left text-22 md:text-2xl font-bold border-0 outline-none bg-transparent hover:cursor-pointer hover:text-gray_slate focus:cursor-pointer focus:text-gray_slate py-4 px-9;}
.accordion button[aria-expanded='true'] span.icon-downArrow2{@apply rotate-180;}
.accordion button[aria-expanded='true'] {@apply bg-light_white;}
.accordion button[aria-expanded='true'] {@apply text-primary;}
.accordion button[aria-expanded='true'] ~ .accordion-content { @apply block h-full max-h-[650px] bg-light_white transition-all duration-200 ease-linear;}

/* step bar  */
.stapholder.active .stapbox{@apply border-primary bg-primary;}
.stapholder.active .stapbox span{@apply opacity-100;}
.stapholder.running .processline, .stapholder.active .processline{@apply bg-primary;}
.stapholder.running .stapbox{@apply border-primary;}

/* order_flow  */
.ordernxtprw_btn{@apply text-sm md:text-base sm:max-w-[220px] lg:max-w-[250px] text-center py-3 px-3 lg:py-4;}

/* Billing Address */
.cardinput {@apply block w-full;}
.cardinput input, .cardinput textarea{@apply outline-none w-full bg-light_gray rounded-lg p-3 font-semibold text-primary md:p-4 text-sm lg:text-base lg:p-5;}
.checkbox input + span{@apply inline-block w-full h-full absolute inset-0 pointer-events-none text-[8px] leading-4 text-center text-white;}
.checkbox input:checked + span{@apply bg-primary;}

/* redio checked  */
.paydelivery{@apply relative mr-2 flex items-start;}
.paydelivery input{@apply absolute w-5 h-5 opacity-0 z-10 top-1 cursor-pointer;}
.paydelivery .radiobox{@apply mx-auto w-5 h-5 block rounded-full border-[5px] mt-1 border-light_gray bg-white relative;}
.paydelivery .paytitel{@apply block text-lg lg:text-xl font-bold text-gray_slate;}
.paydelivery .paysubtitel{@apply block text-gray_slate font-semibold md:font-normal text-sm lg:text-base;}
.paydelivery input:checked + .radiobox{@apply border-primary;}
.paydelivery input:checked ~ div .paytitel{@apply text-primary;}


/* Track order  */
.delivery_process {@apply relative flex items-center space-x-3 py-3 sm:py-0 sm:space-x-0 sm:block;}
.delivery_process .del_process_box{@apply flex items-center justify-center w-12 h-12 sm:w-14 sm:h-14 rounded-full bg-light_gray mx-auto relative z-10;}
.delivery_process .processline{@apply absolute h-full w-0.5 sm:h-auto sm:w-full border-l-2 sm:border-l-0 sm:border-b-2 border-dashed left-6 sm:left-auto sm:right-1/2 top-1/2 -translate-y-full sm:-translate-y-1/2;}
.delivery_process .delivery_process_titel{@apply block text-center font-primary text-primary text-sm md:text-base lg:text-lg sm:mt-2;}
.delivery_process.active .del_process_box{@apply bg-primary;}
.delivery_process.active .del_process_box span{@apply text-white;}
.delivery_process.active .processline{@apply border-primary;}

/* popup */
.cartPopUp .cart_menu {@apply translate-x-full opacity-0 transition-all duration-300;}
.cartPopUp .backDrop {@apply opacity-0 -z-50;}

.cartPopUp.show {@apply z-40 flex;}
.cartPopUp.show .cart_menu {@apply translate-x-0 opacity-100;}
.cartPopUp.show .backDrop {@apply  opacity-100 z-0;}

@tailwind utilities;